@model HomeModel

@{

    ViewData["Title"] = "Home Page";
}
<h2>
    Vis biler for @Model.CompanyName
</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                LicensePlate
            </th>
            <th>
                Description
            </th>
            <th>
                Model
            </th>
            <th>
                Brand
            </th>
            <th>
                TireCount
            </th>
            <th>
                CompanyId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.CarsInShop) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LicensePlate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Brand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TireCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompanyId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {  id=item.LicensePlate  }) |
@*                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                @Html.ActionLink("Delete", "Delete", new {  id=item.LicensePlate  })
            </td>
        </tr>
}
    </tbody>
</table>
<hr />
<br/>

<p>Registreringsnummer:</p>
<p>
    @using (Html.BeginForm())
    {
        <p>@Html.TextBox("SearchString") <br/>
            <input type="submit" value="Search/Filter"/>
        </p>
    }
</p>

<hr/>
<h4>Skift <a asp-action="Index" asp-controller="Settings">Verkstad</a></h4>
